<div>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About Us</a>
  </li>
  <li class="nav-item d-none d-md-block">
    <a class="nav-link" href="#"><fa-icon [icon]="faMicrochip"></fa-icon> Devices </a>
  </li>
  <li class="nav-item d-none d-md-block">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
  <button class="btn btn-secondary float-right">Dashboard</button>
</div>

